[submodule "bc-sskr"]
	path = deps/bc-sskr
	url = https://github.com/BlockchainCommons/bc-sskr.git
[submodule "deps/bc-crypto-base"]
	path = deps/bc-crypto-base
	url = https://github.com/BlockchainCommons/bc-crypto-base.git
[submodule "deps/bc-shamir"]
	path = deps/bc-shamir
	url = https://github.com/BlockchainCommons/bc-shamir.git
[submodule "deps/bc-sskr"]
	path = deps/bc-sskr
	url = https://github.com/BlockchainCommons/bc-sskr.git
[submodule "deps/bc-bip39"]
	path = deps/bc-bip39
	url = https://github.com/BlockchainCommons/bc-bip39.git
[submodule "deps/bc-libwally-core"]
	path = deps/bc-libwally-core
	url = https://github.com/BlockchainCommons/bc-libwally-core.git
